<div  class="box-header"><h1>Главное меню</h1></div>
<div class="mam">
  <ul class="mls">
    <li class="mbs">&rarr; Новости</li>
    <li class="mbs">&rarr; О нас</li>
    <li class="mbs">&rarr; Оплата/Доставка</li>
    <li class="mbs">&rarr; Гарантия</li>
    <li class="mbs">&rarr; Акции</li>
    <li class="mbs">&rarr; Дисконт</li>
    <li class="mbs">&rarr; Контакты</li>
    <li class="mbs">&rarr; Корзина</li>
  </ul>
</div>