<div class="clearfix mbm">
  <div class="col1of4">
    <div class="container mrs">
      <%= render "navigation_list"%>
    </div>
  </div>
  <div class="col3of4">
    <div class="container mls">
      <div class="box-header">
        <div class="col2of3">
          <h1>Добавление новой страницы</h1>
        </div>
        <div class="col1of3">
        </div>
      </div>
      <div class="mam">
        <%= render "form"%>
      </div>
    </div>
  </div>
</div>