@font-face{
	font-family:'Raleway';
	src:url(/fonts/Raleway-Regular.ttf);
}

@font-face{
	font-family:'OpenSans';
	src:url(/fonts/OpenSans-Regular.ttf);
}


body {
	background-color: #f6f6f6;
}
.h300{
	height: 300px;
}

.m-0{
	margin: 0;
}
.m-10{
	margin: 10px;
}
.m-20{
	margin: 20px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-t-10 {
	margin-top: 10px;
}
.m-b-30{
	margin-bottom: 30px;
}
.m-b-40{
	margin-bottom: 40px;
}
.m-t-10{
	margin-top: 10px;
}
.m-t-20{
	margin-top: 20px;
}
.m-t-30{
	margin-top: 30px;
}
.m-l-0 
{
	margin-left: 0px !important;
}

.m-l-m10 
{
	margin-left: -10px !important;
}

.p-0
{
	padding: 0 !important;
}
.p-5
{
	padding:5px !important;
}
.p-10
{
	padding:10px !important;
}

.p-b-5 {
	padding-bottom: 5px;
}

.p-b-25{
	padding-bottom: 25px;
}
.p-t-0
{
	padding-top: 0px !important
}
.p-t-5 
{
	padding-top: 5px !important
}
.p-t-10 
{
	padding-top: 10px !important
}
.p-t-20 
{
	padding-top: 20px !important
}
.p-b-10 
{
	padding-bottom: 10px !important
}
.p-l-15 
{
	padding-left: 15px !important
}
.p-l-5 
{
	padding-left: 5px !important
}

.navbar-muzkom
{
	border-radius: 0px !important;
	background-color: #2962ff;

}
.navbar-muzkom .navbar-brand,.navbar-muzkom .navbar-brand:hover{
	background-color: #2558e5;
	font-size: 19px;
	width: 230px;
	padding-left: 25px;
	color: #dae8ff;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
    font-size: 19px;
}


.navbar-muzkom a {
	color: #dae8ff;
}
.white{
	background-color: #fff;
}
.text-white{
	color: #fff !important;
}

.black{
	background-color: #000;
}
.big-icon {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 30px;
}

.goriz-icon {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 50px;
}

.small-goriz-icon {
	display: inline-block;
	position: relative;
	width: 44px;
	height: 30px;
}

.small-icon {
	display: inline-block;
	position: relative;
	width: 10px;
	height: 15px;
}
.phone-blue{
	margin-top: 5px;
	
}
.pin-blue {
	margin-top: 5px;
}

.icon-delivery:before{
	content: url("/images/main/icon_delivery.png");
}
.icon-prices:before{
	content: url("/images/main/icon_price.png");
}
.icon-money:before{
	content: url("/images/main/icon_money.png");
}

.pin-black:before{
	content: url("/images/main/pin_icon_black.png");
}
.pphone-black:before{
	content: url("/images/main/phone_icon_black.png");
}
.pin-white:before{
	content: url("/images/main/pin_icon_white.png");
}
.phone-white:before{
	content: url("/images/main/phone_icon_white.png");
}

.visa-white:before{
	content: url("/images/main/visa_icon_white_90x30.png");
}
.mc-white {
	top: 10px;
}
.mc-white:before{
	content: url("/images/main/mastercard_icon_white_83x50.png");
}

.fb-white:before{
	content: url("/images/main/soc_facebook_icon_white.png");
}
.vk-white:before{
	content: url("/images/main/soc_vk_icon_white.png");
}
.insta-white:before{
	content: url("/images/main/soc_instagram_icon_white.png");
}
.gplus-white:before{
	content: url("/images/main/soc_g+_icon_white.png");
}
.youtube-white:before{
	content: url("/images/main/soc_youtube_icon_white.png");
}
.twitter-white:before{
	content: url("/images/main/soc_twitter_icon_white.png");
}
.lg-white:before{
	content: url("/images/main/soc_livejournal_icon_white.png");
}
.rss-white:before{
	content: url("/images/main/soc_rss_icon_white.png");
}

.usd-white-selected:before {
	content: url("/images/main/round_usd.png");
}
.usd-white:before {
	content: url("/images/main/currency_usd_white.png");
}
.eur-white-selected:before {
	content: url("/images/main/round_eur.png");
}
.eur-white:before {
	content: url("/images/main/currency_eur_white.png");
}
.uah-white-selected:before {
	content: url("/images/main/round_uah.png");
}
.uah-white:before {
	content: url("/images/main/currency_uah_white.png");
}


.phone-blue:before{
	content: url("/images/main/phone_icon_blue.png");
}
.pin-blue:before{
	content: url("/images/main/pin_icon_blue.png");
}
.cart-blue:before{
	content: url("/images/main/cart_icon_blue.png");
}
.bag-grey:before{
	content: url("/images/main/archive_icon_grey.png");
}
.cart-blue-rectangle{
	position: absolute;
	top: 300px;
	left: 90px;
}
.cart-blue-rectangle:before{
	content: url("/images/main/cart_blue_rect.png");
}

.glyphicon-search {
	background: none;
	display: inline-block;
	border: medium none;
	
	padding: 0px;
	margin: 0px;
	color: #dbdbdb !important;
}

.grey {
	color: #dbdbdb !important;
}

.right {
	float: right;
}
.left {
	float: left;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
	padding: 10px 28px;
    pointer-events: none;
}

#products_search{

}
.opensans {
	font-family: 'OpenSans';
}

.raleway {
	font-family: 'Raleway';
}
.red {
	color: #d32f2f;
}

.red:hover{
	color: #d32f2f;
	text-decoration: underline;
}
h1,h2,h3,h4,h5 {
	text-transform: uppercase;
}
.product-image {
	width: 70%;
}
.price {
	display: block;
	width: 100%;
	height: 30px;
	background-repeat: no-repeat;
	background-image: url("/images/main/label_mini.png");
	background-position: 0px 0px;
	color: #fff;
	text-align: left;
	font-size: 18px;
	padding: 2px 0 20px 15px;
	margin-top: 2px;
	margin-bottom: 15px;
	font-family: 'OpenSans';
}
.oldprice {
	display: block;
	width: 176px;
	height: 47px;
	background-repeat: no-repeat;
	background-image: url("/images/main/label_down.png");
	color: #fff;
	text-align: left;
	font-size: 18px;
	padding: 2px 0 0 15px;
	font-family: 'OpenSans';
	margin-top: 2px;
	margin-bottom: 20px;
}

.oldprice .old{
	font-size: 12px;
	text-decoration: line-through !important;
	margin: 0px;
}


.product-name a {
	color: #6b6b6b;
	font-size: 16px;
	text-align: center;
	font-family: 'OpenSans';
}
.product-name a:hover{
	text-decoration: underline;
}
.item {
	background-color: #fff;
	height: 350px;
	padding-top: 15px;
}
.h350 {
	height: 350px;
}
.h280 {
	height: 280px;
}
.h30 {
	height: 55px;
}

.nav-menu{
  border-radius: 0px;
  max-width: 230px;
  display: block;
  box-shadow: none;
  background-color: #fefefe;
}

.divider {
    margin: 0 15px !important;
    height: 1px;
	overflow: hidden;
	background-color: #E5E5E5;
	display: block;
}
.divider.divider-pub{
	margin-left: 20px !important;
	margin-right: 15px !important;
}

.dropdown-menu > li> a{
   width: 100%;
   white-space: normal;
}
.dropdown-menu > li > a, .nav-menu > li > a {
	color: #7f7f7f;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,.nav-menu > li > a:hover, .nav-menu > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #82b1ff;
  margin: 0px;
}

.dropdown-submenu{
    position:relative;
    padding-left: 10px;
}

.dropdown-submenu:hover, .dropdown-submenu:hover .category {
    background: #82b1ff;
    color: #ffffff;
}


.dropdown-submenu>.dropdown-menu{
    top:0;
    left:100%;
    margin-top:-6px;

    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 0px 0px 0px;
    width: 220px;
}

.dropdown-submenu:hover>.dropdown-menu{
    display:block;
}

.dropdown-submenu>a:before{
    display:block;
    content:" ";
    float:left;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#636363;
    margin-top:5px;
    margin-left:-10px;
    height: 100%;
}

.dropdown-submenu:hover>a:after{
    border-left-color:#ffffff;
    color: #ffffff;
}

.dropdown-submenu.pull-left{
    float:none;
}

.dropdown-submenu.pull-left>.dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
    border:2px solid red;
}

.obsolete-products {
	max-width:230px; 
	background-color: #dbdbdb;
	padding: 17px 15px;
}
.obsolete-products a {
	color: #7f7f7f;
	font-family: 'Raleway';
}
.brand-selector {
	max-width: 230px;
	padding: 4px 10px;
	height: 30px;
}

.w20{
	width: 20% !important;
}
.w80 {
	width: 80% !important;
}

.news {
	max-width: 230px;
}
.publication {
	margin: 20px 20px 25px 20px;
	font-family: 'Raleway';
}
.publication img {
	width: 100%;
	margin-bottom: 10px;
}
.publication a {
	color: #030303;
	font-weight: 800;
}
.publication .date {
	color: #bdbdbd;
	font-size: 13px;
}
.publication .description {
	color: #030303;
	line-height: 13px;
	font-size: 13px;
}
.footer {
	color: #fff;
	margin: 30px;
}
.footer-nav {
	list-style-type: none;
	padding-left: 0;
}
.footer-nav > li > a {
	color: #fff;
}

.navbar-nav > li > a {
	color: #dae8ff !important;
}
.navbar-nav > li > a:hover {
	color: #dae8ff !important;
	text-decoration: underline;
	background-color: #2962FF;
}
.vcenter {
	vertical-align: 50%;
}
.navbar-toggle {
	border: none;
}
.navbar-toggle:hover{
	background-color: #fff !important;
}
.navbar-toggle .icon-bar{
	height: 4px;
	background-color: #dae8ff !important;
}
.nav-a {
		padding: 0 8px !important;
}

.lnav-a {
	padding: 10px 15px !important;
}

.nav>li>a {
	padding: 0;
}

.subcategorieslist{
	margin-top: 0px;
	margin-right: -15px;
	margin-left: 0px;
	padding:10px; 
	background: #FFFFFF;
}

h6{
	padding-left: 14px;
	font-size: 20px;
	text-transform: uppercase;
}

.mhs{
	padding-top: 40px;
	padding-left: 15px;
	padding-right: 15px;

}

.subcategoryitem{
	margin: 40px 17px 40px 18px;
}
.subcategoryitem>a>img{
	width: 100%;
	height: 100%;
	border: 4px solid transparent;
}

.subcategoryitem>a>img:hover{
	border: 4px solid #82b1ff;
	
    

}
.subcategorylink{
	text-align: center;
	font-family: 'Raleway';
	font-size: 18px;
	font-weight: 900;
	height: 0px;
}
.subcategorylink>a{
	position: relative;
	width: 90%;
	top: -60px;
	line-height: 70%;
	color: white;
	text-decoration: none;
	margin: 0 auto ;
	
	
}

@media (min-width: 1200px) {
	.nav-a {
		padding: 0 15px !important;
	}
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}


.status{

}
.status.status-available {
	color: #8ab6ff;
}
.status.status-other {
	color: #bdbdbd;
}
.bg-red {
	background-color: #d32f2f !important;
}

@media (max-width: 767px) {
	.item {
		height: 290px;
	}
	.price {
		width: 100%;
		background-position: -47px 0px;
	}
	.subcategorieslist{
		margin-left: -10px;
		padding: 10px 10px 10px 10px;
	}
}

@media (min-width: 991px) {
	.col-md-9.col-md-9-m {
		width: 80% !important;
	}
	.col-md-3.col-md-3-m {
		width: 20% !important;
	}
	.subcategorieslist{
		margin-left: -10px;
		padding: 10px;
	}
}

@media (max-width: 1199px) {
	.item {
		height: 370px;
	}
	.price {
		width: 100%;
		background-position: -47px 0px;
	}
	.subcategorieslist{
		margin-left: -5px;
		padding: 10px;
	}
}



