<div class="clearfix mbm">
  <div class="col2of4">
    <div class="container mrs">
      <div class="box-header">
          <h1>Добавление новой группы брендов</h1>
      </div>
      <div class="mam">
        <%= render "form"%>
      </div>
    </div>
  </div>
<!--   <div class="col1of4">
    <div class="container mls">
      <div class="box-header">
          <h1>Курс валют</h1>
      </div>
      <div class="pam">
        После добавления производителя дял него можно будет задать уникальный курс валют
      </div>
    </div>
  </div> -->
</div>