<div class="container">
  <h2 class="highlight">Каталог товаров</h2>
  <ul class="catalog">
    <% @categories.each do |category|%>
      <li>
        <%= link_to category.name, "#", :class=>"category"%>
        <% unless category.subcategories.empty?%>
          <ul class="subcategories <%=show_subcategories(category)%>">
            <%category.subcategories.each do |subcategory|%>
              <li><%=link_to subcategory.name, category_path(subcategory), :class=>"subcategory"%></li>
            <%end%>
          </ul>
        <%end%>
      </li>
    <%end%>
  </ul>
</div>
<div class="container pam">
  <%= link_to "Товары снятые с производства", withdrawn_brands_path%>
</div>