<div class="row visible-md-block visible-lg-block">
  <ul class="nav nav-menu raleway p-t-10" role="menu" aria-labelledby="dropdownMenu">
    <% @categories.each_with_index do |category, index|%>
        <li class="dropdown-submenu">
          <%= link_to category.name, categories_list_path(:id => category.id), :class=>"category lnav-a"%>
          <ul class="dropdown-menu p-0">
            <%category.subcategories.each_with_index do |subcategory, subindex|%>
              <li><%=link_to subcategory.name, category_path(subcategory),:class => "lnav-a"%></li>
              <% if subindex != category.subcategories.length-1 %>
                <li class="divider"></li>
              <%end%>
            <%end%>
          </ul>
        </li>
        <% if index != @categories.length-1 %>
          <li class="divider"></li>
        <%end%>
    <%end%>
  <li>
  </ul>
</div>
<div class="row obsolete-products visible-md-block visible-lg-block" >
  <div class="col-md-8 p-0">
    <strong><%= link_to "Товары снятые с производства", withdrawn_brands_path%></strong>
  </div>
  <div class="col-md-4 p-0 p-t-5">
    <span class="big-icon bag-grey right"></span>
  </div>
</div>
