<div class="container contacts">
  <h2><span>Контакты</span></h2>
  <div class="pam">
    <%= @contacts.text.html_safe%>
    <div class="clearfix">
      <div class="col1of6">
        <img src="/assets/icons/phone.png" alt="" width=""  /> 
      </div>
      <div class="col5of6">
        (063) <span class="phone">625 48 05</span>,<br />
        (044) <span class="phone">592 86 14</span>
      </div>
    </div>
    <div class="clearfix">
      <div class="col1of6">
        <img src="/assets/icons/icq.png" alt="" />
      </div>
      <div class="col5of6">
        <div class="mts">
        570560950
        </div>
      </div>
    </div>
  </div>
</div>