<div class="container contacts">
  <h2><span>Контакты</span></h2>
  <div class="pam">
    <p>
      Пн.- Пт.<br />
      с <strong>10.00</strong> – <strong>19.00</strong><br />
      он-лайн заказы 24/7<br />
      Сб. с <strong>11.00</strong> - <strong>15.00</strong><br />
    </p>
    <pre style="font: 14px/23px Arial;">
Тел. (063) <span class="phone">625 48 05</span>,
        (044) <span class="phone">592 86 14</span>
ICQ: 570560950</pre>
  </div>
</div>