<div class="container">
  <h2><span>Контакты</span></h2>
  <div class="pam">
    <p>
      Пн.- Пт.<br />
      с 10.00 – 19.00<br />
      он-лайн заказы 24/7<br />
      Сб. с 11.00 - 15.00<br />
    </p>
    <p>
      Тел. (063) 625 48 05,<br /> 
      (044) 592 86 14<br />
      ICQ: 570560950
    </p>
  </div>
</div>