<div class="container">
  <h2><span>Новые поступления</span></h2>
  <div class="pam">
    <div class="by-center mbl">
      <div class="">
        <a href=""><strong>CR Laser TOP-1S (100)</strong></a>
      </div>
      <div class="mbs">
        <%=image_tag "noimage.jpeg", :width=>'100'%>
      </div>
      <strong>2240.00 грн</strong>
    </div>
    <div class="by-center mbm">
      <div class="">
        <a href=""><strong>CR Laser FIT-S G</strong></a>
      </div>
      <div class="mbs">
        <%=image_tag "noimage.jpeg", :width=>'100'%>
      </div>
      <strong>1780.00 грн</strong>
    </div>
  </div>
</div>