<div class="container">
  <h2><span>Новые поступления</span></h2>
  <div class="pam">
    <% @latest_products.each do |product|%>
    <div class="by-center mbl">
      <div class="">
        <strong><%= link_to product.name, product_path(product)%></strong>
      </div>
      <div class="mbs">
        <%= image_tag product.image_url(:thumb)%>
      </div>      
      <%= render "shared/product_price", :product => product%>
    </div>
    <%end%>
  </div>
</div>