<div class="container">
  <h2><span>Новости</span></h2>
  <div class="mam ">
    <div class="publication">
      <a href="">12 декабря 2011</a>
      <p>
        На склад поступили микрофоны и аксессуары австралийской фирмы RØDE Microphones.
        Студийные микрофоны: BROA
      </p>
    </div>
    <div class="publication">
      <a href="">12 декабря 2011</a>
      <p>
        SALE - распродажа оборудования для диджеинга от компании Reloop. Количество товара ограничено. В распродаже участвую
      </p>
    </div> 
  </div>
</div>