<%if product.promo?%>
<strong class="oldprice">
  <p class="old"><%= product_old_price(product)%></p>
  <%= product_price(product)%>
</strong>
<%else%>
<strong class="price">
  <%= product_price(product)%>
</strong>
<%end%>