<div class="row white m-l-m10 m-t-20" style="padding: 0 30px 15px 30px">
	<div class="col-md-12 p-0">
 		<h3 class="opensans red m-b-30"><i>Коротко о нас</i></h3>
 	</div>
 	<div class="col-md-12 raleway p-0">
    <p style="text-align: justify;">В нашем магазине вы сможете найти и купить: музыкальные инструменты, dj оборудование, оборудование для студии звукозаписи и сцены.</p>
	<p style="text-align: justify;">- <strong>Оборудование для ди-джеинга (dj)</strong>&nbsp;(dj-контроллер, dj проигрыватель, dj микшер, dj наушники и многое другое)</p>
	<p style="text-align: justify;">- <strong>Оборудование для саунд-продюсеров и студий звукозаписи</strong> (звуковая карта для записи, студийные мониторы и наушники, студийный микрофон для записи, миди-клавиатура и midi-контроллер …)</p>
	<p style="text-align: justify;">- <strong>Оборудование для музыкантов</strong> (гитара, электрогитара, бас-гитара, комбик, гитарный усилитель, гитарные эффекты и примочки, синтезатор, микрофон и многое другое)</p>
	<p style="text-align: justify;">- <strong>Оборудование для развлекательных заведений:</strong> баров, ресторанов, ночных клубов, сцены (лазер, свет, звук, радиомикрофон, спецэффекты, караоке системы …)</p>
	<p style="text-align: justify;">Актуальные товары, отзывы, цены, обзоры, характеристики, возможность купить с доставкой по всей Украине и Киеву.</p>
	</div>
</div>