<nav class="navbar navbar-static-top navbar-inverse">
	<div class="container p-0">
	   <div class="col-md-5 p-0">
			<a href="http://www.facebook.com/profile.php?id=100001185448670" target="_blank" rel="nofollow"><span class="big-icon m-l-0 m-10 fb-white"></span></a>
	        <a href="http://vk.com/id55454631" target="_blank" rel="nofollow"><span class="big-icon m-10  vk-white"></span></a>
	        <a href="https://twitter.com/#!/muzkom_com_ua" target="_blank" rel="nofollow"><span class="big-icon m-10  twitter-white"></span></a>
	        <a href="#" target="_blank" rel="nofollow"><span class="big-icon m-10  insta-white"></span></a>
	        <a href="https://plus.google.com/+MuzkomUaKiev/posts" target="_blank" rel="nofollow"><span class="big-icon m-10  gplus-white"></span></a>
	   </div>
	   <div class="col-md-2 col-md-padding-1">
	        <!-- <a href="#" target="_blank" rel="nofollow"><span class="big-icon m-10  uah-white"></span></a>
	        <a href="#" target="_blank" rel="nofollow"><span class="big-icon m-10  eur-white"></span></a>
	        <a href="#" target="_blank" rel="nofollow"><span class="big-icon m-10  usd-white"></span></a> -->
		</div>
	</div>
</nav>