<nav class="navbar navbar-static-top navbar-inverse">
	<div class="container p-0">
	   <div class="col-md-5 p-0 visible-md-block visible-lg-block">
			<a href="http://www.facebook.com/profile.php?id=100001185448670" target="_blank" rel="nofollow"><span class="big-icon m-l-0 m-10 fb-white"></span></a>
	        <a href="http://vk.com/id55454631" target="_blank" rel="nofollow"><span class="big-icon m-10  vk-white"></span></a>
	        <a href="https://twitter.com/#!/muzkom_com_ua" target="_blank" rel="nofollow"><span class="big-icon m-10  twitter-white"></span></a>
	        <a href="#" target="_blank" rel="nofollow"><span class="big-icon m-10  insta-white"></span></a>
	        <a href="https://plus.google.com/+MuzkomUaKiev/posts" target="_blank" rel="nofollow"><span class="big-icon m-10  gplus-white"></span></a>
	   </div>
	   <div class="col-sm-5 p-0 visible-sm-block">
		   <div class="dropdown">
				<a href="#" id="dropdownMenu1"><p class="social-submenu-text raleway text-white p-t-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><strong>Мы в сети</strong><span class="glyphicon glyphicon-chevron-down text-white p-l-10" style="top:3px"></span></p></a>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li><a href="#">Action</a></li>
				  </ul>
		   </div>
	   </div>
	   <div class="col-md-2 m-l-58 visible-md-block visible-lg-block visible-sm-block">
	        <a href="#" target="_blank" rel="nofollow"><span class="curr-icon m-t-15 m-r-13  uah-white-selected"></span></a>
	        <a href="#" target="_blank" rel="nofollow"><span class="curr-icon m-t-15 m-r-13  eur-white"></span></a>
	        <a href="#" target="_blank" rel="nofollow"><span class="curr-icon m-t-15 m-r-13  usd-white"></span></a>
		</div>
		<div class="col-xs-4 col-xs-offset-5 visible-xs-block ">
	        <a href="#" target="_blank" rel="nofollow"><span class="curr-icon m-t-15 m-r-13  uah-white-selected"></span></a>
	        <a href="#" target="_blank" rel="nofollow"><span class="curr-icon m-t-15 m-r-13  eur-white"></span></a>
	        <a href="#" target="_blank" rel="nofollow"><span class="curr-icon m-t-15 m-r-13  usd-white"></span></a>
		</div>
	</div>
</nav>