<div class="container mls">
  <div class="box-header">
    <div class="col2of3">
      <h1>Добавление новой акции</h1>
    </div>
    <div class="col1of3">
    </div>
  </div>
  <div class="mam">
    <%= render "form"%>
  </div>
</div>