<div class="clearfix mbm">
  <div class="col3of4">
    <div class="container mrs">
      <div class="box-header">
        <h1>Добавление нового раздела</h1>
      </div>
      <div class="mam">
        <%= render "form"%>
      </div>
    </div>
  </div>
</div>