<div class="clearfix">
  <div class="col1of4">
    <%=render "catalog"%>
  </div>
  <div class="col3of4">
    <div class="container mbl mls">
      <div class="box-header mbm"><h1>Редактирование <%= @product.name%></h1></div>
      <div class="mhm">
        <%= render "form"%>
      </div>
    </div>
  </div>
</div>