<% list = ""%>
<% @current_category.subcategories.visible.order('subcategories.priority').each{ |sc| list = list + "#{sc.name.strip}, "}%>
<% title sanitize(strip_tags("#{@current_category.name} | #{@keywords_text.text}").gsub("\"", "&quot;") )%>
<% meta_d sanitize(strip_tags("#{list} | #{@keywords_text.text}").gsub("\"", "&quot;") )%>
<% meta_k sanitize(strip_tags("#{list}").gsub("\"", "&quot;") )%>

<div class="subcategorieslist">
  
  <div >
    <div >
      <div class="row">
        
          <h5  class="opensans red m-20 m-b-40"><strong><i><i2><%= @current_category.name %></i2></i></strong></h5>
        
        <br/>
        <% @current_category.subcategories.visible.order('subcategories.priority').each do |subcategory| %>
          <div class="col-ls-6 col-md-4 col-ss-6 col-xs-6">
            <div class="subcategoryitem">
              <%= link_to (image_tag(subcategory.logo_url, :size => "200x200", :alt => subcategory.name)), category_path(subcategory) %><br/>
              <div class = "subcategorylink">
                <%= link_to subcategory.name, category_path(subcategory)%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="cls"></div>

      <div class="mhs">
        <div class="mbs">
          <%= @current_category.text.html_safe%>
        </div>
      </div>
    </div>
  </div>


  
</div>