<div class="container mls">
  <div class="box-header">
    <h1>Кредитная программа</h1>
  </div>
  <div class="mam">
    <div class="clearfix mbm">
      <%= link_to "Добавить", new_admin_credit_path, :class=>"submit-button right"%>
    </div>
    <table class="data-table">
      <thead>
        <tr>
          <td class="checkbox"><input type="checkbox"></td>
          <td>Название кредитной программы</td>
          <td class="actions">Посл. редакт.</td>
          <td class="actions">Действия</td>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="5"><p>Показано <%= @credits.length%> из <%= @credits.length%></p></td>
        </tr>
      </tfoot>
      <tbody>
        <% @credits.each do |credit|%>
        <%= render "credit_row", :credit => credit%>
        <%end%>
        <% if @credits.empty?%>
        <tr>
          <td colspan="6">
            <p>Не найдено ни одной кредитной программы</p>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
